<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <a th:href="@{/province/create-province}" class="btn btn-primary">
                Tạo thành phố
            </a>
            <a th:href="@{/upload-file}" class="btn btn-danger">
                Tải file
            </a>
        </div>

        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Thành phố</th>
                    <th scope="col">Quốc gia</th>
                    <th scope="col" colspan="2" style="text-align: center">Action</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="row : ${provinces}">
                    <tr>
                        <th scope="row" th:text="${row.id}"></th>
                        <td ><a th:href="@{/province/detail/__${row.id}__}" th:text="${row.name}"></a></td>
                        <td th:text="${row.country.countryName}"></td>
                        <td><a th:href="@{/province/edit/__${row.id}__}">Sửa</a></td>
                        <td><a th:href="@{/province/delete/__${row.id}__}">Xóa</a></td>
                    </tr>
                </th:block>


                </tbody>
            </table>
        </div>
    </div>
</body>
</html>